
.filter-wrp ul {
    padding: 0;
    list-style: none;
    width: 100%;
    display: none;
    font-size: 0.88em;
    position: absolute;
    top: 35px;
    z-index: 99999999;
    left: 0;
    background: #fff;
}

.filter-wrp ul li {
    padding: 5px 4px;
    text-transform: capitalize;
    cursor: pointer;
    padding-left: 14px;
    transition: all 0.20s ease-out;
}

.filter-wrp ul li:hover {
    color: #f34954;
}

.filter-wrp {
    position: relative;
    width: 201px;
    background: #fff;
    border-radius: 5px;
}

.filter-wrp #dropdown_label {
    /* border: solid 1px #000; */
    padding: 7px 10px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    color: #848181;
}

.unhide {
    display: block !important;
}

.hide {
    display: none !important;
}

